:root {
  --color-background-gradient: linear-gradient(180deg, #DBE6F9 0%, rgba(172, 203, 255, 0.49) 47.92%, rgba(76, 122, 203, 0.67) 140%);
  --color-primary-lighter: #6F88CA;
  --color-primary-light: rgba(92, 130, 177, 0.1);
  --color-primary: #8257E5;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #6842C2;
  --color-secundary: #04D361;
  --color-secundary-dark: rgba(47, 117, 204, 0.60);
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #63A1EE;
  --color-text-title: #32264D;
  --color-text-complement: #18539D;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text-one: #78A8E4;
  --color-button-text-two: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;
  --color-text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body #root {
  height: 100vh;
}

body {
  /* background:  var(--color-background-gradient); */
  /* background: #002668 */
  background: #DBE6F9;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size:  62.5%;
  }
}