#page-home {
    width: 100vw;
    height: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
}

.logo-container img{
    height: 10rem;
}

.hero-image {
    width: 100%;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container h2 {
    font-style: normal;
    font-weight: normal;
    line-height: 3rem;
    margin-top: -2rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
    
}

.buttons-container a {
    font: 500 15px Poppins;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    
    border-radius: 40px;
    position: relative;
    height: 50px;
    width: 150px;


}

.buttons-container a:first-child {
    margin-right: 1.6rem;
    color: var(--color-button-text-one);
}

.buttons-container a.login {
    background: none;
    border: 1px solid var(--color-primary-lighter);
}

.buttons-container a.register {
    color: var(--color-button-text-two);
    background-color: var(--color-button-text-one);
    
}

.total-connections {
    display: flex;
    justify-content: center;
    align-items: center;
}